* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --height: 200px;
  --boxsize: 5;
}

h1 {
  margin: 30px 0px;
  color: #fff;
  font-weight: 42px;
  font-weight: 900;
  text-align: center;
}

.date-picker-wrapper {
  position: relative;
  width: 40%;
  height: 60px;
  background-color: rgb(58 86 183);
  margin: 30px auto;
  cursor: pointer;
  user-select: none;
}

.selected-date {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 28px;
}

.dates-container {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right:0;
  background-color: white;
}

.active {
  visibility: visible;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  background-color: rgb(58 86 183);
}

.month .arrows {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.month .arrows:hover {
  background-color: rgb(91 122 27);
}

.days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: var(--height);
  grid-auto-rows: calc(var(--height) / var(--boxsize));
  background-color: rgb(54, 49, 56);
}

.days-container .day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.days-container .day:hover {
  background-color: rgb(91, 122, 127);
}

.days-container .day.selected {
  background-color: rgb(58 86 183);
}